@model  Api.Database.Model.LijecnickiPregledi

@{
    ViewData["Title"] = "Create";
}

<h2>Dodavanje novog zapisa</h2>

<h4>LijecnickiPregledi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VrijediOd" class="control-label"></label>
                <input asp-for="VrijediOd" class="form-control" />
                <span asp-validation-for="VrijediOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijediDo" class="control-label"></label>
                <input asp-for="VrijediDo" class="form-control" />
                <span asp-validation-for="VrijediDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClanId" class="control-label"></label>
                <select asp-for="ClanId" class ="form-control" asp-items="ViewBag.ClanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.ClanId">Natrag na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
