@model  Api.Database.Model.LijecnickiPregledi

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LijecnickiPregledi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VrijediOd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrijediOd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VrijediDo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrijediDo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clan.Adresa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LijecnickiPreglediId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
