@model  Api.Database.Model.LijecnickiPregledi

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji zapisa</h2>

<div>
    <h4>LijecnickiPregledi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VrijediOd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrijediOd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VrijediDo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrijediDo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clan.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LijecnickiPreglediId">Izmjena</a> |
    <a asp-action="Index" asp-route-id="@Model.ClanId">Povratak na listu</a>
</div>
