@model  AdministracijaClanova.ClanLijecnickiPregledi

@{
    ViewData["Title"] = "Index";
}

<h2>Liječnićki pregledi -  @Html.DisplayFor(model => model.Clan.Ime)  @Html.DisplayFor(model => model.Clan.Prezime)</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.Clan.ClanId">Kreiraj novi zapis</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Vrijedi od
                </th>
                <th>
                    Vrijedi do
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LijecnickiPregledi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VrijediOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijediDo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LijecnickiPreglediId">Promijeni</a> |
                <a asp-action="Details" asp-route-id="@item.LijecnickiPreglediId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.LijecnickiPreglediId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
