@model  Api.Database.Model.Duznosti

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Duznosti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Od" class="control-label"></label>
                <input asp-for="Od" class="form-control" />
                <span asp-validation-for="Od" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Do" class="control-label"></label>
                <input asp-for="Do" class="form-control" />
                <span asp-validation-for="Do" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClanId" class="control-label"></label>
                <select asp-for="ClanId" class ="form-control" asp-items="ViewBag.ClanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoviDuznostiId" class="control-label"></label>
                <select asp-for="TipoviDuznostiId" class ="form-control" asp-items="ViewBag.TipoviDuznostiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
