@model  Api.Database.Model.Duznosti

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Duznosti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Od)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Od)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Do)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Do)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clan.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoviDuznosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoviDuznosti.NazivDuznosti)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DuznostiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
