@model IEnumerable<Api.Database.Model.Duznosti>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Od)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Do)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoviDuznosti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Od)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Do)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoviDuznosti.NazivDuznosti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DuznostiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DuznostiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DuznostiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
