@model Api.Database.Model.AktivnostiSudjelovanje

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AktivnostiSudjelovanje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumAktivnosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumAktivnosti)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clan.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoviAktivnosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoviAktivnosti.NazivAktivnosti)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AktivnostiSudjelovanjeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
