@model Api.Database.Model.AktivnostiSudjelovanje

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AktivnostiSudjelovanje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumAktivnosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumAktivnosti)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clan.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoviAktivnosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoviAktivnosti.NazivAktivnosti)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AktivnostiSudjelovanjeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
