@model IEnumerable<Api.Database.Model.AktivnostiSudjelovanje>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DatumAktivnosti)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoviAktivnosti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumAktivnosti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoviAktivnosti.NazivAktivnosti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AktivnostiSudjelovanjeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AktivnostiSudjelovanjeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AktivnostiSudjelovanjeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
