﻿@model  Api.Database.Model.Clan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodendan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodendan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zvanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zvanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AkademskaTitula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AkademskaTitula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistracijaHVS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistracijaHVS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PodaciSkrbnika)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PodaciSkrbnika.Adresa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClanId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
