﻿@model  Api.Database.Model.Clan

@{
    ViewData["Title"] = "Detalji";
}

<h2>@Html.DisplayFor(model => model.Ime)  @Html.DisplayFor(model => model.Prezime)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodendan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodendan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zvanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zvanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AkademskaTitula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AkademskaTitula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistracijaHVS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistracijaHVS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PodaciSkrbnika)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PodaciSkrbnika.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="LijecnickiPregledi" asp-action="Index" asp-route-id="@Model.ClanId">Liječnički pregledi</a> |
    <a asp-action="Edit" asp-route-id="@Model.ClanId">Promjena</a> |
    <a asp-action="Index">Natrag na listu</a>
</div>
