﻿@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na stranicu za administraciju članova HAVK Mladosti</h1>
    <p>Službena stranica kluba <a href="https://mladost.hr/2/hr">HAVK Mladst</a>.</p>
</div>
