﻿@{
    ViewData["Title"] = "Administracija članova";
}

<div class="jumbotron">
    <h1>HAVK Mladost</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Aplikacija za administraciju članstva HAVK Mladost</h2>
        <p>
            Oprezno s podacima
        </p>
    </div>
    <div class="col-md-4">
        <h2>Korisno za sve</h2>
        <p>Za tajnika kluba, trenere, upravni odbor i ostale :) </p>
        <p><a class="btn btn-default" href="to_do">Upute za rad &raquo;</a></p>
    </div>
</div>