@using Microsoft.AspNetCore.Mvc.Localization
@using AdministracijaClanovaWeb
@model HavkMladostDbContext.Clan
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["Create new member"];
}

<h1>@Localizer["Create new member"]</h1>

<h4>@Localizer["Member"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spol" class="control-label"></label>
                <input asp-for="Spol" class="form-control" />
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oib" class="control-label"></label>
                <input asp-for="Oib" class="form-control" />
                <span asp-validation-for="Oib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodendan" class="control-label"></label>
                <input asp-for="Rodendan" class="form-control" />
                <span asp-validation-for="Rodendan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zvanje" class="control-label"></label>
                <input asp-for="Zvanje" class="form-control" />
                <span asp-validation-for="Zvanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zanimanje" class="control-label"></label>
                <input asp-for="Zanimanje" class="form-control" />
                <span asp-validation-for="Zanimanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AkademskaTitula" class="control-label"></label>
                <input asp-for="AkademskaTitula" class="form-control" />
                <span asp-validation-for="AkademskaTitula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistracijaHvs" class="control-label"></label>
                <input asp-for="RegistracijaHvs" class="form-control" />
                <span asp-validation-for="RegistracijaHvs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkrbnikId" class="control-label"></label>
                <select asp-for="SkrbnikId" class ="form-control" asp-items="ViewBag.SkrbnikId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value='@SharedLocalizer["Create"]' class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
