@model HavkMladostDbContext.Clan
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Member"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rodendan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rodendan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zvanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zvanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AkademskaTitula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AkademskaTitula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistracijaHvs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistracijaHvs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skrbnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skrbnik.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClanId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
