@model IEnumerable<HavkMladostDbContext.Clan>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["Member list"];
}

<h1> @Localizer["Member list"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th class="col">
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Oib)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Rodendan)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Zvanje)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Zanimanje)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.AkademskaTitula)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.RegistracijaHvs)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Skrbnik)
            </th>
            <th class="col">Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodendan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zvanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanimanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AkademskaTitula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistracijaHvs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skrbnik.Adresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClanId">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ClanId">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ClanId">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
